<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Login Admin</title>
  <!--Stylesheets-->
  <link rel="stylesheet" href="../static/css/estiloslogins.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    #sidebar {
      height: 640px;
    }

    .footer {
      margin: auto;
      margin-top: 120%;
    }
  </style>
</head>

<body>
  </nav>
  <form method=POST action="{{ url_for('loginAd') }}">
    <h3>Login Administrador</h3>
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control input" placeholder="Username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="pass" class="form-control input" placeholder="Password" required>
    <label for="tusuario">Tipo de Usuario</label>
    <div class="radios">
      <input type="radio" name="Tusuario" class="radio" value="Administrador">Administrador
      <input type="radio" name="Tusuario" class="radio" value="Docente">Docente
      <input type="radio" name="Tusuario" class="radio" value="Alumno">Alumno

    </div>


    <button style="color: white;" name="submitLogin">Ingresar</button>
  </form>

  </div>
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>

</body>

</html>