<!doctype html>
<html lang="en">

<head>
  <title>Administrador</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<style>
  body {
    background: url(https://play-lh.googleusercontent.com/VJ_7_zo5njDbOi9dNwU2BtN1YMIQ4kS8TGGWINaaAc550fL5FKwIvBfPmgPgcOyhVkQ) no-repeat center center fixed;
    background-size: cover;
    max-height: 718px;
  }
</style>

<body>

  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('administrador') }}">Registro Administrador</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('regTeacher') }}">Registo Docente <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('alumnoReg') }}">Registro Alumnos <span
                class="sr-only">(current)</span></a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Año Lectivo
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">L002020</a>
              <a class="dropdown-item" href="#">L002021</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">L002022</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('CerrarSession') }}">Cerrar Sesion</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>

  <div class="d-flex justify-content-center">
    <div class="wrapper d-flex align-items-stretch" style="align-content: center ;">
      <div class="jumbotron">
        <div id="content" class="p-4 p-md-5 pt-5">
          <h2 class="mb-4">Ingrese nuevo Docente</h2>
          <div class="wrap-login">
            <form method=POST action="{{ url_for('regTeacher') }}">
              <div class="form-group">
                <label for="exampleInputPassword1">Id_Institucional</label>
                <input type="text" class="form-control" name="id_Institucional" placeholder="Id_Institucional" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Cedula</label>
                <input type="text" class="form-control" name="cedula" placeholder="Cedula" required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Apellido</label>
                <input type="text" class="form-control" name="apellido" placeholder="Apellido" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Teléfono</label>
                <input type="text" class="form-control" name="telefono" placeholder="Teléfono" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Dirección</label>
                <input type="text" class="form-control" name="direccion" placeholder="Dirección" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Titulo Universitario</label>
                <input type="text" class="form-control" name="titulo_Universitario" placeholder="Titulo Universitario"
                  required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="pass" placeholder="Password" required>
              </div>
              <button type="submit" name="submitButton" class="btn btn-primary btn-block"
                onclick="alert('Se registro al nuevo usuario administrador')">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--JavaScript-->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>
</body>

</html>