<!doctype html>
<html lang="en">

<head>
  <title>Administrador</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<style>
  body {
    background: url(https://play-lh.googleusercontent.com/VJ_7_zo5njDbOi9dNwU2BtN1YMIQ4kS8TGGWINaaAc550fL5FKwIvBfPmgPgcOyhVkQ) no-repeat center center fixed;
    background-size: cover;
    max-height: 718px;
  }
</style>

<body>

  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('administrador') }}">Registro Usuario</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('regTeacher') }}">Registar Paralelo <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active" >
            <a class="nav-link" href="{{ url_for('regStudent') }}">Registro Año Lectivo <span
                class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active" >
            <a class="nav-link" href="{{ url_for('regMatricula') }}">Registro Matricula<span
                class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('CerrarSession') }}">Cerrar Sesion</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>

  <div class="d-flex justify-content-center">
    <div class="wrapper d-flex align-items-stretch" style="align-content: center ;">
      <div class="jumbotron">
        <div id="content" class="p-4 p-md-5 pt-5">
          <h2 class="mb-4">Ingrese nuevo paralelo</h2>
          <div class="wrap-login">
            <form method=POST action="{{ url_for('regTeacher') }}">
              <div class="form-group">
                <label for="exampleInputPassword1">Paralelo</label>
                <input type="text" class="form-control" name="paralelo" placeholder="paralelo" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">User docente</label>
                <input type="text" class="form-control" name="docente" placeholder="docente" required>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Año Lectivo</label>
                <select class="form-control" id="exampleFormControlSelect1" name="anio_lectivo" placeholder="Ninguno">
                  <option> </option>
                  <option>L002022</option>
                </select>
              </div>
              
              <button type="submit" name="submitButton" class="btn btn-primary btn-block"
                >Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-10" style="width: 800px;">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center">Editar Registros</h5>

      </div>
      <div class="card-body">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Paralelo</th>
              <th scope="col">Docente</th>
              <th scope="col">Año Lectivo</th>
              <th><a href="{{ url_for('regTeacher') }}" type="button" class="form-control">Ver</a></th>
            </tr>
          </thead>

          <tbody>
            {% for personas in personas %}
            <form>
              <tr>
                <td><input type="text" class="form-control" value="{{personas.paralelo}}" name="name"
                    style="width: 125px;" disabled></td>
                <td><input type="text" class="form-control" value="{{personas.docente}}" name="name"
                    style="width: 125px;" disabled></td>
                <td><input type="text" class="form-control" value="{{personas.anio_lectivo}}" name="lastname" disabled
                    style="width: 125px;"></td>
              </tr>
            </form>
            {% endfor %}
          </tbody>

        </table>


      </div>

    </div>
  </div>


  <!--JavaScript-->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>
</body>

</html>