<!doctype html>
<html lang="en">

<head>
  <title>Seleccion Usuarios</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<style>
  body {
    background: url(https://rare-gallery.com/thumbs/866852-School-Schoolgirls.jpg) no-repeat center center fixed;
    background-size: cover;
    max-height: 718px;
  }

  #prueba {
    background-color: black;
    opacity: 85%;
  }

  #titleUser {
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: rgb(18, 231, 217);
  }
</style>

<body>
  <!--Contenedor-->
  <div class="container text-center ">
    <div class="row ">
      <!--Columna 1 Administrador-->
      <div class="col ">
        <div class="card mb-3 bg-info" style="max-width: 540px;">
          <img src="https://cdn-icons-png.flaticon.com/512/81/81591.png" class="img-fluid rounded-start" alt="...">
          <div class="row g-0">
            <div class="col-md-12">
              <div class="card-body">
                <h5 class="card-title">Admin</h5>
                <a href="logAdmin" class="btn btn-primary">Acceder</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Columna 2 Docente-->
      <div class="col">
        <div class="card mb-3 bg-info" style="max-width: 540px;">
          <img src="https://cdn.pixabay.com/photo/2014/04/03/09/59/teacher-309533_1280.png"
            class="img-fluid rounded-start" alt="...">
          <div class="row g-0">
            <div class="col-md-12">
              <div class="card-body">
                <h5 class="card-title">
                  <Datag>Docente</Datag>
                </h5>
                <a href="logTeacher" class="btn btn-primary">Acceder</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Columna 3 Estudiante-->
      <div class="col" href="logStudent">
        <div class="card mb-3 bg-info" style="max-width: 540px;">
          <img
            src="https://73dae67924.clvaw-cdnwnd.com/f0c37ff08972ff08fa39b024a8c8b2d8/200001323-7c8aa7d854/silhouettes-28769_1280.png?ph=73dae67924"
            class="img-fluid rounded-start" alt="...">
          <div class="row g-0">
            <div class="col-md-12">
              <div class="card-body">
                <h5 class="card-title">Estudiante</h5>
                <a href="logStudent" class="btn btn-primary">Acceder</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!--Texto-->
  <div class="text-bg-secondary p-3"></div>
  <div id="prueba" class="container text-center ">
    <h1 id="titleUser">UNIDAD EDUCATIVA GOTITAS EL SABER</h1>
    <h1 id="titleUser">Jugar es la mejor forma en que los niños aprenden!</h1>
    <h1 id="titleUser">LC & JO</h1>
  </div>
  </div>

  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>

</body>

</html>